streamlit==1.38.0       # For building the web app
pandas==2.2.3           # For data manipulation and analysis
joblib==1.3.0           # For loading and saving the model
scikit-learn==1.3.0     # For machine learning algorithms and model training
numpy==2.1.1            # For numerical computations
matplotlib==3.7.2        # For plotting (if needed)
seaborn==0.12.2          # For statistical data visualization (if needed)
